/*Core css styling sheet*/

*{
	margin: 0;
	padding: 0;
}

/*--------------------------First Navigation Section--------------------------------*/
.topNav{
	overflow: hidden;
	background-color: #666666;
}

.topNav input[type=image]{
	float: left;
	width: 6%;
}

.button {
	float: right;
	background-color: #ed6f09;
	border: none;
	padding: 10px 25px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 15px 10px;
	cursor: pointer;
}

.button:hover{
	background-color: #c65800;
}
/*--------------------------Second Navigation Section--------------------------------*/
.secondNav{
	padding: 20px;
}

.secondNav .dropdown {
    position: relative;
    display: inline-block;
}

.secondNav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.secondNav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.secondNav .search-container {
  text-align: center;
}

.secondNav input[type=text] {
  padding: 7px 500px 7px 7px;
  font-size: 17px;
  border: normal;
}

.secondNav .dropdown-content a:hover {background-color: #ddd;}

.secondNav .dropdown:hover .dropdown-content {display: block;}

.secondNav .search-container .searchbtn {
  background: #ed6f09;
  font-size: 16px;
  border: none;
  text-align: center;
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
}

.secondNav .search-container .searchbtn:hover {
  background: #c65800;
}

.secondNav .search-container .cartbtn {
	text-align: center;
	background: #ed6f09;
	font-size: 16px;
	border: none;
	display: inline-block;
	padding: 10px 25px;
	cursor: pointer;
}

.secondNav .search-container .cartbtn:hover {
	background: #c65800;
}

/*--------------------------Advertisments Section--------------------------------*/
.advertisments{
	overflow: hidden;
	background-color: white;
}

.center{
	display: block;
	margin: auto;
}

/*--------------------------Content Section--------------------------------*/
.content{
	display: table;
	margin: 10px auto;
}

.contentImgs li{
	display: inline;
}

footer{
	width: 100%;
	float: left;
	padding: 20px 0 20px 0;
	background: gray;
}