/*Sign in css styling sheet*/

*{
	margin: 0;
	padding: 0;
}

.logIn {
	margin: 100px auto;
	padding: 20px 0px;
	text-align: center;
	background-color: #cccccc;
}

.logIn input[type=text] {
	margin-top: 20px;
	padding: 7px 200px 7px 7px;
	font-size: 17px;
	border: normal;
}

.logIn input[type=password] {
	margin-top: 20px;
	padding: 7px 200px 7px 7px;
	font-size: 17px;
	border: normal;
}

.logIn .logInbtn {
	background: #ed6f09;
	margin-top: 20px;
	font-size: 16px;
	border: none;
	padding: 10px 25px;
	cursor: pointer;
}

.logIn .logInbtn:hover {
	background: #c65800;
}
